<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Eat-Da-Burger</title>
    <link rel="stylesheet" type="text/css" href="assets/css/burger_style.css">
</head>
<body>
    {{{ body }}}
    <script>
        $(function () {
            $(".create-form").on("submit", function (event) {
                // Make sure to preventDefault on a submit event.
                event.preventDefault();
                var newBurg = {
                    name: $("#burg").val().trim(),
                };
                $.ajax("/api/burgers", {
                    type: "POST",
                    data: newBurg
                }).then(() => {
                    console.log("Order up!");
                    // Reload the page to get the updated list
                    location.reload();
                }
                );
            })
            $(".eatBtn").on("click", function (event) {
                console.log(this.id);
                let devouredState = {
                    devoured: "true"
                };
                $.ajax(`/api/burgers/${this.id}`, {
                    type: "PUT",
                    data: devouredState
                }).then(() => {
                    console.log("Enjoy!");
                    location.reload();
                })
            })
            $(".delete-burger").on("click", function(event) {
                var id = $(this).data("id");
                //send the delete request
                    $.ajax("api/burgers/" + id, {
                        type: "DELETE"
                    }).then(() => {
                        console.log("Deleted Burger", id);
                        location.reload();
                    })
            })
        });
    </script>
</body>
</html>