<main>
    <div id = "heading">
        <img id = "burger-image" src="C:\Users\rvasa\Documents\trail-express\burger-thumbnail.jpg" alt = "burger" />
        <h1>Eat-Da-Burger</h1>
    </div>

    <h1></h1>
</main> 

